<!DOCTYPE HTML>
{% load static %}
<html lang = "en">
<!-- Should show all the saved subs at the very top -->
<!--
<table>
    <tr>
        {for sub in user.saved_subs %}
            <td> <a href="{{ sub }}"> sub.name </a> </td>
    </tr>
</table>
-->
<head>
    <title> blueit: a page on the internet </title>
    <link rel="stylesheet" type="text/css" href="{% static 'RedditApp/styles.css' %}"/>
    <script src="{% static 'RedditApp/scripts.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>
<body>
<!-- If user logged in, show him his subscribed subs else show default subs -->

    {% include 'RedditApp/banner.html' with sub="Front" %}

    {% if popular_posts %}
        {% for post in popular_posts %}
            <div class="post">
            <a href="{% url 'RedditApp:post_detail' post.sub post.id post.title %}">
              {{ post.title }} </a>
              <br>
              submitted by {{post.user}}
            </div>
            <br>
        {% endfor %}
    {% endif %}
</body>
</html>
